  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="Employee Name" name="name" required>
      <label for="floatingInput">Employee Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.des}}" placeholder="Designation" name="des" required>
      <label for="floatingInput">Designation</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.dep}}" placeholder="Department" name="dep" required>
      <label for="floatingInput">Department</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="floatingInput" value="{{this.salary}}" placeholder="Salary" name="salary" required>
      <label for="floatingInput">Salary</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.location}}" placeholder="Location" name="location" required>
      <label for="floatingInput">Location</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>